.button {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #daa250, #c98941);
  font-size: 18px;
  font-weight: 600;
  box-shadow: #daa250 0px 0px 20px;
  color: white;
  cursor: pointer;
  animation: change-box-shadow 2s infinite;
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
}

.button:hover {
  scale: 1.05;
}

@keyframes change-box-shadow {
  0% {
    box-shadow: #feed9b 0px 0px 20px;
  }
  50% {
    box-shadow: #c98941 0px 0px 20px;
  }
  100% {
    box-shadow: #feed9b 0px 0px 20px;
  }
}