.button {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #daa250, #c98941);
  font-size: 18px;
  font-weight: 600;
  box-shadow: #c98941 0px 0px 20px;
  color: white;
  cursor: pointer;
  animation: fade-in 1s ease-in-out forwards;
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
  opacity: 0;
}

.button:hover {
  scale: 1.05;
}

@keyframes fade-in {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}