.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background: url('/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  filter: brightness(0.1) blur(2px);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;

  height: 100vh;
  width: 100%;
  max-width: 450px;

  padding: 40px 25px;
}

.circleIcon img {
  border-radius: 50%;
}

.circleIcon {
  border-radius: 50%;
  border: #DAA250 2px solid;
  padding: 2px;
  width: 120px;
  box-shadow: #DAA250 0px 0px 10px;
}

.titleLogo {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}